body{
    font-family: Arial;
    margin:0;
    background-color: #ffffff;
    color: #222;
}

.navbar{
  background:#0a1c6b;
  color:white;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
}

.container{
  display:flex;
  width:1100px;
  margin:40px auto;
}

.navbar a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.sidebar{
  width:300px;
}

.profile{
  width:260px;
  border-radius:5px;
}

.content{
  flex:1;
  padding-left:40px;
}

h1{
  font-size:40px;
}

h2{
  margin-top:30px;
}